* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input,
textarea {
  outline: none;
  resize: none;
}

.notes-list {
  display: flex;
  flex-wrap: wrap;
  padding: 10px;
  margin: 0;
}

.app-header__title {
  margin: 10px 20px 0px;
  font-family: Tuffy, sans-serif;
  padding: 3px;
background-color: rgb(245, 202, 228);
opacity: 85%;
}


.app-header__controls {
  display: flex;
  align-items: center;
  margin: 10px 0 0 10px;
}

.search,
.add-new {
  font-family:Tuffy, sans-serif;
  font-size: 14px;
  padding: 5px;
  margin: 8px;
}

.search {
  flex-grow: 1;
  max-width: 300px;
}

.add-new {
  font-family:Tuffy,sans-serif;
  border-radius: 5px;
  cursor: pointer;
  padding: 8px;
  font-weight: bolder;
  background-color: #eee;
  outline: none;
}

.note {
  font-family: "Permanent Marker", cursive;
  width: 200px;
  height: 200px;
  margin: 10px;
  background-color: lightyellow;
  border: 1px solid grey;
  box-shadow: 2px 2px 3px lightgrey;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  position: relative;
}

.note__title{
  font-family: Tuffy,sans-serif;
  width: 100%;
  padding: 8px;
  background: transparent;
  color:black;
}
.note__description {
  font-family: "Homemade Apple", cursive;
  width: 100%;
  padding: 8px 14px;
  background: transparent;
  color:rgb(14, 8, 46);
}

.note__title {
  font-size: 16px;
  font-weight: bold;
}

.note__description {
  flex-grow: 1;
  font-size: 14px;
}

.note__delete {
  position: absolute;
  top: 0px;
  right: 0px;
  font-size: 20px;
  color: rgb(236, 8, 8);
  padding: 5px;
}

.note__delete:hover {
  color: rgb(240, 137, 137);
  cursor: pointer;
}
